@import '../../../styles/settings.scss';

.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background: none;
    color: $black-color;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

  .arrow_down {
    font-size: 14px;
    padding-left: 7px;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: $currency-bg;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: $black-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 15px;
    }

    .currency {
      padding-right: 5px;
    }
  }
}

.dropdown:hover {
  .arrow_down {
    transform: rotate(180deg);
    padding: 0 10px 0 0;
  }
}

.dropdown_content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown_content {
  display: block;
}
